/* --------------------------------------------------- */
/* globals */

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 250, 250);
}

.round-button {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(0, 75, 255);
  border-radius: 10px;
  border: none;
  color: white;
  min-width: 80px;
  height: 40px;
  margin-left: 20px;
  transition: all 0.3s ease;
}

.round-button:hover {
  background-color: rgb(51, 112, 255);
}

.round-button:active {
  background-color: rgb(0, 62, 206);
}

.row {
  display: flex;
  /* flex: 1; */
  align-items: center;
}

/* --------------------------------------------------- */
/* options bar */

.navbar {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  justify-content: space-between;
  background-color: white;

  -webkit-box-shadow: 0px 1px 2px 2px #eaeaea;
  box-shadow: 0px 1px 2px 2px #eaeaea;
}

.logo {
  width: 35px;
  height: auto;
}

.logo-title {
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: 300;
  margin-left: 8px;
  color: rgb(164, 156, 187);
}

.search-todos {
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgb(198, 207, 211);
  font-size: 16px;
  padding: 10px;
  width: 130px;
  transition: width 0.1s ease;
}

.search-todos:focus {
  border: 2px solid rgb(31, 28, 28);
  width: 300px;
  font-weight: 500;
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
}

/* --------------------------------------------------- */
/* todo sections */

.todo-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

/* --------------------------------------------------- */
/* Todo list  */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.todo-list-container {
  /* background-color: rgb(248, 250, 251); */
  background-color: rgb(248, 250, 251);
  border-radius: 10px;
  width: 300px;
  min-height: 300px;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-right: 20px;

  -webkit-box-shadow: 2px 2px 17px -1px rgba(219, 218, 232, 1);
  -moz-box-shadow: 2px 2px 17px -1px rgba(219, 218, 232, 1);
  box-shadow: 2px 2px 17px -1px rgba(219, 218, 232, 1);
}

.todo-list-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 25px;
}

.todo-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.todo-list > li {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------- */
/* Todo item */

.drag-item {
  cursor: move;
}
.drag-item:hover {
  border: 0.1rem dashed rgb(121, 123, 128);
}

.todo {
  width: 300px;
  min-height: 100px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin-bottom: 15px;

  -webkit-box-shadow: -6px 2px 11px 1px #ececec;
  box-shadow: -6px 2px 11px 1px #ececec;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  /* padding-top: 4px; */
  padding-left: 20px;
}

.todo-title {
  font-size: 18px;
  font-weight: 500;
}

.todo-content {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  color: rgb(80, 84, 88);
  word-wrap: break-word;
  overflow-y: hidden;
}

.todo-actions {
  display: flex;
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.todo-checkbox:checked {
  background-color: green;
  color: green;
  fill: green;
  background-color: #2196f3;
}

.todo-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  font-size: 14px;
  color: black;
  background-color: rgb(232, 231, 240);
  margin-right: 10px;
}

.cloned-todo-item-id {
  opacity: 40%;
  border: 2px dashed black;
}

/* --------------------------------------------------- */
/* Add new todo modal */

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 34, 0.1);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 1;
}

.todo-form {
  position: relative;
  animation-name: showModal;
  animation-duration: 0.2s;
}

@keyframes showModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

/* --------------------------------------------------- */
/* Add new todo container */

.todo-input-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 250, 251);
  width: 500px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 30px;

  -webkit-box-shadow: 2px 2px 17px -1px rgba(219, 218, 232, 1);
  -moz-box-shadow: 2px 2px 17px -1px rgba(219, 218, 232, 1);
  box-shadow: 2px 2px 17px -1px rgba(219, 218, 232, 1);
}

.todo-input-title {
  height: 30px;
  width: 90%;
  outline: none;
  font-size: 20px;
  padding: 10px;
  background: white;
  border-radius: 6px;
  border: 1px solid black;
}

.todo-input-content {
  margin-top: 10px;
  background: white;
  height: 100px;
  min-height: 60px;
  max-height: 500px;
  resize: vertical;
  width: 90%;
  border-radius: 5px;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
}

.todo-input-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#input-completed {
  display: flex;
  flex-direction: center;
  align-items: center;
}

#input-completed-label {
  font-size: 17px;
}

#input-completed-checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* --------------------------------------------------- */
/* Footer */

.footer {
  font-weight: 500;
  position: relative;
  bottom: 0;
  right: 0;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
}

.footer p {
  color: #c5c5c5;
}

.footer a {
  text-decoration: none;
  color: rgb(0, 75, 255);
}

/* --------------------------------------------------- */
/* Scrollbar */

::-webkit-scrollbar {
  color: #1a6a4d;
  background-color: black;
  scrollbar-color: white;
  scrollbar-base-color: wheat;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(225, 228, 230);
  border-radius: 20px;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 75, 255);
  border-radius: 20px;
  box-shadow: inset 2px 2px 10px 2px rgb(76, 33, 186);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 75, 255);
}
